//smallest grill
[class*="grill-col-sm"],
[class*="grill-col-md"],
[class*="grill-col-lg"],
[class*="grill-col-xl"] {
  flex-basis: 100%;
}

//responsive grill
// Extra small devices (portrait phones, less than 576px)
[class*="grill-col-xs"] {
  flex-basis: 100%;
}

/*xs ordering:
/xs is default setting for the framework
because of mobile first design
*/
$i: 10;
@while $i > 0 {
  .col-order-xs-#{$i} {
    order: $i;
  }
  $i: $i - 1;
}

//for responsive grill column in different media query
@mixin responsiveCol($sm-col, $lg-col) {
  .grill-col-#{$sm-col} {
    flex-basis: auto;
  }
  [class|="grill-col-#{$lg-col}"] {
    flex-basis: 100%;
  }
  [class*="col-order-#{$sm-col}"] {
    order: 1;
  }
  $i: 10;
  @while $i > 0 {
    //xs column
    .grill-col-#{$sm-col}-#{$i} {
      flex-basis: 10% * $i;
    }
    //sm ordering
    .col-order-#{$lg-col}-#{$i} {
      order: $i;
    }
    $i: $i - 1;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  @include responsiveCol("xs", "sm");
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  @include responsiveCol("sm", "md");
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  @include responsiveCol("md", "lg");
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  @include responsiveCol("lg", "xl");
}

//grill row
.grill-row {
  display: flex;
  flex-wrap: wrap;

  [class*="grill-col-"] {
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
    box-sizing: border-box;
  }
}

//grill wrap
.no-wrap {
  flex-wrap: nowrap;
}

//grill column
.grill-col,
.grill-col-xs,
.grill-col-sm,
.grill-col-md,
.grill-col-lg,
.grill-col-xl {
  flex-grow: 1;
  flex-shrink: 1;
}

//grill gutter
.no-gutter {
  * {
    padding-left: 0;
    padding-right: 0;
  }
}

//grill order
.order-last {
  order: 9999;
}

.order-first {
  order: -1;
}

//normal ordering
$i: 1;
@while $i < 10 {
  .order-#{$i} {
    order: $i;
  }
  $i: $i + 1;
}
