//css reset -Meyer
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//container
* {
  outline: 1px solid goldenrod;
}

.container {
  margin: 0 1% 0 1%;
  width: 98%;
}

.container-fluid {
  max-width: 100%;
}

//responsive grill
// Small devices (landscape phones, 576px and up)
@media only screen and (max-width: 576px) {
  .grill-col-sm {
    flex-basis: 576px;
  }

  $i: 10;
  @while $i > 0 {
    .grill-col-sm-#{$i} {
      flex-basis: 576px !important;
    }
    $i: $i - 1;
  }
}

// Medium devices (tablets, 768px and up)
@media only screen and (max-width: 768px) {
  .grill-col-md {
    flex-basis: 720px;
  }

  $i: 10;
  @while $i > 0 {
    .grill-col-md-#{$i} {
      flex-basis: 720px !important;
    }
    $i: $i - 1;
  }
}

// Large devices (desktops, 992px and up)
@media only screen and (max-width: 1200px) {
  .grill-col-lg {
    flex-basis: 960px;
  }

  $i: 10;
  @while $i > 0 {
    .grill-col-lg-#{$i} {
      flex-basis: 960px !important;
    }
    $i: $i - 1;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1201px) {
  .grill-col-xl {
    flex-basis: 1140px;
  }

  $i: 10;
  @while $i > 0 {
    .grill-col-xl-#{$i} {
      flex-basis: 1140px !important;
    }
    $i: $i - 1;
  }
}

//grill row
.grill-row {
  display: flex;
  flex-wrap: wrap;

  * {
    padding-left: 1%;
    padding-right: 1%;
    display: inline-block;
  }
}

//grill wrap
.no-wrap {
  flex-wrap: nowrap;
}

//grill column
.grill-col,
.grill-col-xs,
.grill-col-sm,
.grill-col-md,
.grill-col-lg,
.grill-col-xl {
  flex-grow: 1;
  flex-shrink: 1;
}

$i: 10;
@while $i > 0 {
  .grill-col-xs-#{$i} {
    flex-basis: 10% * $i;
  }
  .grill-col-sm-#{$i} {
    flex-basis: 10% * $i;
  }
  .grill-col-md-#{$i} {
    flex-basis: 10% * $i;
  }
  .grill-col-lg-#{$i} {
    flex-basis: 10% * $i;
  }
  $i: $i - 1;
}

//grill gutter
.no-gutter {
  * {
    padding-left: 0;
    padding-right: 0;
  }
}

//grill order
.order-last {
  order: 9999;
}

.order-first {
  order: -1;
}

$i: 1;
@while $i < 10 {
  .order-#{$i} {
    order: $i;
  }
  $i: $i + 1;
}
//positioning
.center {
  margin: auto;
}

.center-text {
  text-align: center;
}

%fix {
  position: fixed;
}

.fix-top {
  @extend %fix;
  top: 0;
}

.fix-left {
  @extend %fix;
  left: 0;
}

.fix-right {
  @extend %fix;
  right: 0;
}

.fix-bottom {
  @extend %fix;
  bottom: 0;
}

//drop down
#drop-down-container {
  width: 80px;
  margin-top: 50px;
  .down-menu {
    border-top: 1px solid black;
  }

  button {
    width: 80px;
    height: 30px;
    background: white;
    border: 1px solid black;
    border-top: none;
  }

  button:hover {
    opacity: 0.7;
    background: black;
    color: white;
  }

  .down-item {
    display: none;
  }
}

#drop-down-container:hover {
  .down-item {
    display: block;
  }

  .down-content {
    transform: scaleY(1);
  }
}

.down-content {
  width: 80px;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s ease-in-out;
}
