html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[class*="grill-col-sm"],
[class*="grill-col-md"],
[class*="grill-col-lg"],
[class*="grill-col-xl"] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

[class*="grill-col-xs"] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

/*xs ordering:
/xs is default setting for the framework
because of mobile first design
*/
.col-order-xs-10 {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}

.col-order-xs-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.col-order-xs-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.col-order-xs-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.col-order-xs-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.col-order-xs-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.col-order-xs-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.col-order-xs-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.col-order-xs-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.col-order-xs-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 576px) {
  .grill-col-xs {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  [class|="grill-col-sm"] {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  [class*="col-order-xs"] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .grill-col-xs-10 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-order-sm-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .grill-col-xs-9 {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .col-order-sm-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .grill-col-xs-8 {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .col-order-sm-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .grill-col-xs-7 {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .col-order-sm-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .grill-col-xs-6 {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .col-order-sm-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .grill-col-xs-5 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-order-sm-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .grill-col-xs-4 {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .col-order-sm-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .grill-col-xs-3 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .col-order-sm-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .grill-col-xs-2 {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .col-order-sm-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .grill-col-xs-1 {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  .col-order-sm-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 768px) {
  .grill-col-sm {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  [class|="grill-col-md"] {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  [class*="col-order-sm"] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .grill-col-sm-10 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-order-md-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .grill-col-sm-9 {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .col-order-md-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .grill-col-sm-8 {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .col-order-md-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .grill-col-sm-7 {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .col-order-md-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .grill-col-sm-6 {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .col-order-md-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .grill-col-sm-5 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-order-md-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .grill-col-sm-4 {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .col-order-md-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .grill-col-sm-3 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .col-order-md-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .grill-col-sm-2 {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .col-order-md-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .grill-col-sm-1 {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  .col-order-md-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 992px) {
  .grill-col-md {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  [class|="grill-col-lg"] {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  [class*="col-order-md"] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .grill-col-md-10 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-order-lg-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .grill-col-md-9 {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .col-order-lg-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .grill-col-md-8 {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .col-order-lg-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .grill-col-md-7 {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .col-order-lg-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .grill-col-md-6 {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .col-order-lg-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .grill-col-md-5 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-order-lg-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .grill-col-md-4 {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .col-order-lg-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .grill-col-md-3 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .col-order-lg-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .grill-col-md-2 {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .col-order-lg-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .grill-col-md-1 {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  .col-order-lg-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 1200px) {
  .grill-col-lg {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  [class|="grill-col-xl"] {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  [class*="col-order-lg"] {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .grill-col-lg-10 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-order-xl-10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  .grill-col-lg-9 {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }
  .col-order-xl-9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  .grill-col-lg-8 {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
  }
  .col-order-xl-8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  .grill-col-lg-7 {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .col-order-xl-7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .grill-col-lg-6 {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .col-order-xl-6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .grill-col-lg-5 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .col-order-xl-5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .grill-col-lg-4 {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .col-order-xl-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .grill-col-lg-3 {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .col-order-xl-3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .grill-col-lg-2 {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .col-order-xl-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .grill-col-lg-1 {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  .col-order-xl-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.grill-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grill-row [class*="grill-col-"] {
  padding-left: 1%;
  padding-right: 1%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.grill-col,
.grill-col-xs,
.grill-col-sm,
.grill-col-md,
.grill-col-lg,
.grill-col-xl {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.no-gutter * {
  padding-left: 0;
  padding-right: 0;
}

.order-last {
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.order-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.order-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.order-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.order-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

#drop-down-container {
  width: 80px;
  margin-top: 50px;
}

#drop-down-container .down-menu {
  border-top: 1px solid black;
}

#drop-down-container button {
  width: 80px;
  height: 30px;
  background: white;
  border: 1px solid black;
  border-top: none;
}

#drop-down-container button:hover {
  opacity: 0.7;
  background: black;
  color: white;
}

#drop-down-container .down-item {
  display: none;
}

#drop-down-container:hover .down-item {
  display: block;
}

#drop-down-container:hover .down-content {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.down-content {
  width: 80px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.card {
  border: 1px solid darkgrey;
  padding: 20px;
  position: relative;
}

.card .card-text-container {
  display: inline-block;
  width: 53%;
  vertical-align: top;
}

.card .card-detail {
  margin-top: 2%;
  font-size: 1.1em;
}

.card .card-title {
  font-size: 2.5em;
  font-size: bold;
}

.card .card-img {
  width: 40%;
  display: inline-block;
  margin-left: 5%;
}

.card .card-annotation {
  font-size: 1.3em;
  margin-top: 5%;
  display: block;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 15px 5px 15px;
  width: 100%;
  height: 40px;
}

.nav #nav-center-container {
  font-size: 30px;
}

.nav #nav-left-container,
.nav #nav-right-container {
  display: none;
}

.nav #drop-down-container {
  margin: 0;
  display: block;
}

.nav #drop-down-container:hover {
  margin-bottom: 10px;
  margin-top: 17%;
}

@media (min-width: 992px) {
  .nav #nav-left-container,
  .nav #nav-right-container {
    display: block !important;
  }
  .nav #drop-down-container {
    display: none !important;
  }
}

.center {
  margin: auto;
}

.center-text {
  text-align: center;
}

.fix-top, .fix-left, .fix-right, .fix-bottom {
  position: fixed;
}

.fix-top {
  top: 0;
}

.fix-left {
  left: 0;
}

.fix-right {
  right: 0;
}

.fix-bottom {
  bottom: 0;
}

* {
  outline: 1px solid goldenrod;
}

.container {
  margin: 0 1% 0 1%;
  width: 98%;
}

.container-fluid {
  max-width: 100%;
}
/*# sourceMappingURL=jHin.css.map */