@import "reset";
@import "grill";
@import "dropdownMenu";
@import "card";
@import "navbar";
@import "position";

// * {
//    outline: 1px solid goldenrod;
//    }

//container
.container {
  margin: 0 1% 0 1%;
  width: 98%;
}

.container-fluid {
  max-width: 100%;
}
