html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 1px solid goldenrod;
}

.container {
  margin: 0 1% 0 1%;
  width: 98%;
}

.container-fluid {
  max-width: 100%;
}

@media only screen and (max-width: 576px) {
  .grill-col-sm {
    -ms-flex-preferred-size: 576px;
        flex-basis: 576px;
  }
  .grill-col-sm-10 {
    -ms-flex-preferred-size: 576px !important;
        flex-basis: 576px !important;
  }
  .grill-col-sm-9 {
    -ms-flex-preferred-size: 576px !important;
        flex-basis: 576px !important;
  }
  .grill-col-sm-8 {
    -ms-flex-preferred-size: 576px !important;
        flex-basis: 576px !important;
  }
  .grill-col-sm-7 {
    -ms-flex-preferred-size: 576px !important;
        flex-basis: 576px !important;
  }
  .grill-col-sm-6 {
    -ms-flex-preferred-size: 576px !important;
        flex-basis: 576px !important;
  }
  .grill-col-sm-5 {
    -ms-flex-preferred-size: 576px !important;
        flex-basis: 576px !important;
  }
  .grill-col-sm-4 {
    -ms-flex-preferred-size: 576px !important;
        flex-basis: 576px !important;
  }
  .grill-col-sm-3 {
    -ms-flex-preferred-size: 576px !important;
        flex-basis: 576px !important;
  }
  .grill-col-sm-2 {
    -ms-flex-preferred-size: 576px !important;
        flex-basis: 576px !important;
  }
  .grill-col-sm-1 {
    -ms-flex-preferred-size: 576px !important;
        flex-basis: 576px !important;
  }
}

@media only screen and (max-width: 768px) {
  .grill-col-md {
    -ms-flex-preferred-size: 720px;
        flex-basis: 720px;
  }
  .grill-col-md-10 {
    -ms-flex-preferred-size: 720px !important;
        flex-basis: 720px !important;
  }
  .grill-col-md-9 {
    -ms-flex-preferred-size: 720px !important;
        flex-basis: 720px !important;
  }
  .grill-col-md-8 {
    -ms-flex-preferred-size: 720px !important;
        flex-basis: 720px !important;
  }
  .grill-col-md-7 {
    -ms-flex-preferred-size: 720px !important;
        flex-basis: 720px !important;
  }
  .grill-col-md-6 {
    -ms-flex-preferred-size: 720px !important;
        flex-basis: 720px !important;
  }
  .grill-col-md-5 {
    -ms-flex-preferred-size: 720px !important;
        flex-basis: 720px !important;
  }
  .grill-col-md-4 {
    -ms-flex-preferred-size: 720px !important;
        flex-basis: 720px !important;
  }
  .grill-col-md-3 {
    -ms-flex-preferred-size: 720px !important;
        flex-basis: 720px !important;
  }
  .grill-col-md-2 {
    -ms-flex-preferred-size: 720px !important;
        flex-basis: 720px !important;
  }
  .grill-col-md-1 {
    -ms-flex-preferred-size: 720px !important;
        flex-basis: 720px !important;
  }
}

@media only screen and (max-width: 1200px) {
  .grill-col-lg {
    -ms-flex-preferred-size: 960px;
        flex-basis: 960px;
  }
  .grill-col-lg-10 {
    -ms-flex-preferred-size: 960px !important;
        flex-basis: 960px !important;
  }
  .grill-col-lg-9 {
    -ms-flex-preferred-size: 960px !important;
        flex-basis: 960px !important;
  }
  .grill-col-lg-8 {
    -ms-flex-preferred-size: 960px !important;
        flex-basis: 960px !important;
  }
  .grill-col-lg-7 {
    -ms-flex-preferred-size: 960px !important;
        flex-basis: 960px !important;
  }
  .grill-col-lg-6 {
    -ms-flex-preferred-size: 960px !important;
        flex-basis: 960px !important;
  }
  .grill-col-lg-5 {
    -ms-flex-preferred-size: 960px !important;
        flex-basis: 960px !important;
  }
  .grill-col-lg-4 {
    -ms-flex-preferred-size: 960px !important;
        flex-basis: 960px !important;
  }
  .grill-col-lg-3 {
    -ms-flex-preferred-size: 960px !important;
        flex-basis: 960px !important;
  }
  .grill-col-lg-2 {
    -ms-flex-preferred-size: 960px !important;
        flex-basis: 960px !important;
  }
  .grill-col-lg-1 {
    -ms-flex-preferred-size: 960px !important;
        flex-basis: 960px !important;
  }
}

@media only screen and (min-width: 1201px) {
  .grill-col-xl {
    -ms-flex-preferred-size: 1140px;
        flex-basis: 1140px;
  }
  .grill-col-xl-10 {
    -ms-flex-preferred-size: 1140px !important;
        flex-basis: 1140px !important;
  }
  .grill-col-xl-9 {
    -ms-flex-preferred-size: 1140px !important;
        flex-basis: 1140px !important;
  }
  .grill-col-xl-8 {
    -ms-flex-preferred-size: 1140px !important;
        flex-basis: 1140px !important;
  }
  .grill-col-xl-7 {
    -ms-flex-preferred-size: 1140px !important;
        flex-basis: 1140px !important;
  }
  .grill-col-xl-6 {
    -ms-flex-preferred-size: 1140px !important;
        flex-basis: 1140px !important;
  }
  .grill-col-xl-5 {
    -ms-flex-preferred-size: 1140px !important;
        flex-basis: 1140px !important;
  }
  .grill-col-xl-4 {
    -ms-flex-preferred-size: 1140px !important;
        flex-basis: 1140px !important;
  }
  .grill-col-xl-3 {
    -ms-flex-preferred-size: 1140px !important;
        flex-basis: 1140px !important;
  }
  .grill-col-xl-2 {
    -ms-flex-preferred-size: 1140px !important;
        flex-basis: 1140px !important;
  }
  .grill-col-xl-1 {
    -ms-flex-preferred-size: 1140px !important;
        flex-basis: 1140px !important;
  }
}

.grill-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grill-row * {
  padding-left: 1%;
  padding-right: 1%;
  display: inline-block;
}

.no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.grill-col,
.grill-col-xs,
.grill-col-sm,
.grill-col-md,
.grill-col-lg,
.grill-col-xl {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.grill-col-xs-10 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.grill-col-sm-10 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.grill-col-md-10 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.grill-col-lg-10 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.grill-col-xs-9 {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.grill-col-sm-9 {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.grill-col-md-9 {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.grill-col-lg-9 {
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
}

.grill-col-xs-8 {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.grill-col-sm-8 {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.grill-col-md-8 {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.grill-col-lg-8 {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.grill-col-xs-7 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.grill-col-sm-7 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.grill-col-md-7 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.grill-col-lg-7 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.grill-col-xs-6 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.grill-col-sm-6 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.grill-col-md-6 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.grill-col-lg-6 {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.grill-col-xs-5 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.grill-col-sm-5 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.grill-col-md-5 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.grill-col-lg-5 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.grill-col-xs-4 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.grill-col-sm-4 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.grill-col-md-4 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.grill-col-lg-4 {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.grill-col-xs-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.grill-col-sm-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.grill-col-md-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.grill-col-lg-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.grill-col-xs-2 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.grill-col-sm-2 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.grill-col-md-2 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.grill-col-lg-2 {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

.grill-col-xs-1 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.grill-col-sm-1 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.grill-col-md-1 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.grill-col-lg-1 {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.no-gutter * {
  padding-left: 0;
  padding-right: 0;
}

.order-last {
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.order-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.order-4 {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.order-5 {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.order-6 {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.order-7 {
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.order-8 {
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.order-9 {
  -webkit-box-ordinal-group: 10;
      -ms-flex-order: 9;
          order: 9;
}

.center {
  margin: auto;
}

.center-text {
  text-align: center;
}

.fix-top, .fix-left, .fix-right, .fix-bottom {
  position: fixed;
}

.fix-top {
  top: 0;
}

.fix-left {
  left: 0;
}

.fix-right {
  right: 0;
}

.fix-bottom {
  bottom: 0;
}

#drop-down-container {
  width: 80px;
  margin-top: 50px;
}

#drop-down-container .down-menu {
  border-top: 1px solid black;
}

#drop-down-container button {
  width: 80px;
  height: 30px;
  background: white;
  border: 1px solid black;
  border-top: none;
}

#drop-down-container button:hover {
  opacity: 0.7;
  background: black;
  color: white;
}

#drop-down-container .down-item {
  display: none;
}

#drop-down-container:hover .down-item {
  display: block;
}

#drop-down-container:hover .down-content {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.down-content {
  width: 80px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
/*# sourceMappingURL=jHin.css.map */