@import "reset";
@import "grill";

* {
  outline: 1px solid goldenrod;
}

.container {
  margin: 0 1% 0 1%;
  width: 98%;
}

.container-fluid {
  max-width: 100%;
}
//responsive grill:
// Small devices (landscape phones, 576px and up)
@media only screen and (max-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media only screen and (max-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media only screen and (max-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media only screen and (max-width: 576px) {
}

//positioning
.center {
  margin: auto;
}

.center-text {
  text-align: center;
}

%fix {
  position: fixed;
}

.fix-top {
  @extend %fix;
  top: 0;
}

.fix-left {
  @extend %fix;
  left: 0;
}

.fix-right {
  @extend %fix;
  right: 0;
}

.fix-bottom {
  @extend %fix;
  bottom: 0;
}

#drop-down-container {
  button {
    height: auto;
    width: auto;
  }

  .drop-down-item {
    display: none;
  }
}

#drop-down-container:hover {
  .drop-down-item {
    display: block;
  }

  .drop-down-content {
    height: auto;
  }
}

.drop-down-content {
  width: auto;
  height: 0;
  overflow: hidden;
}
